@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.checkAbs {
  position: absolute;
  top: 25px;
  transition: all .2s ease-in-out;
}

.checkAbs:hover {
  /*transform: scale(1.4);*/
  cursor: pointer;
}

/*.checkboxAbs {
  position: absolute;
  top: 15px;
}*/
.checkAbs {
    position: absolute;
    top: 35%;
    left: 80px;
    font-size: 60px;
    /* border-color: yellow; */
    color: whitesmoke;
}

.checkSzSm {

  /*transform: scale(1);*/
}
.checkSzLg {
  transform: scale(1.8);
  color: #A7A7A7;
}

.travelPackItem {

  background-color: #ECECEC;
  -o-transition: color 0.5s linear;
-moz-transition: color 0.5s linear;
-khtml-transition: color 0.5s linear;
-webkit-transition: color 0.5s linear;
-ms-transition: color 0.5s linear;
transition: color 0.5s linear;

  padding: 30px 30px 30px 125px;
    text-align: center;

    cursor: pointer;
    cursor: hand;
}

.travelPackItem:hover {
  background-color: #E1E3EC;
}

.odd {
  background-color: #E4E4E4;
}

.travelPackItem h3 {
    font-size: 30px;
}

.travelPackItemNew {
  padding-left: 20px
}

.mapFullBtn {
  font-size: 20px;
}

.mapFullIcon {
  margin-left: 10px;
	/*vertical-align: middle;*/
}

/* .modal-fullscreen */

.modal-fullscreen {
  /*background: transparent;*/
  background: #ffffff;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}
